.button {
  @include reset-button;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  width: 100px;

  font-family: 'PressStart2P';
  font-size: 14px;
  color: var(--color-accent);
  border: var(--border);

}

#scrollToTopBtn {
  font-family: 'PressStart2P';
  position: fixed;
  top: auto;

  right: 43px;
  bottom: 20px;
  font-size: 24px;
  color: var(--color-accent);

  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-duration), visibility var(--transition-duration);
  }

  &:hover {
    color: var(--color-light);
    border-color: var(--color-light);
    background-color: var(--color-accent);
    transition: border-color var(--transition-duration), color var(--transition-duration), background-color var(--transition-duration);

  }

  &:focus-visible {
    outline: none;
    background-color: rgba(126, 0, 21, 0.384);
    transition: background-color var(--transition-duration);
  }
}

.dropdown-btn {
  font-size: 12px;
  letter-spacing: 0.3px;
  width: auto;
  height: auto;
  padding: 5px;
}