.footer {

  // position: absolute;
  // bottom: 0;
  width: 100%;
  height: auto;
  // min-height: 150px;
  padding-block: 30px;
  background-color: #cec7b2;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    @include mobile {
      flex-direction: column;
      align-items: start;
    }
  }


  &__left {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__right {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 560px;
    font-size: 9px;
    font-family: 'PressStart2P';
    font-weight: 500;
    color: var(--color-active);
    p,
    ul {
      margin: 0;
      padding: 0;
    }

    ul {
      list-style: none;
      li {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        align-items: end;
        justify-content: space-between;
       .desc {
        max-width: 320px;
       }
      }
    }
  }

  &__logo {
    display: block;
    font-size: 20px;
  }

  &__menu {
    width: fit-content !important;
    height: auto;
    padding: 0;
    font-family: 'PressStart2P';
    font-size: 16px;
    border: none;
    width: auto;
    color: inherit;

    &:hover {
      color: var(--color-accent);
      transition: color var(--transition-duration);
      background-color: var(--color-hover);
    }

    &:focus-visible {
      outline: none;
      color: var(--color-hover);
      transition: color var(--transition-duration);
    }
  }
}