.header {
  top: 0;
  width: 100%;
  position: fixed;
  font-family: 'PressStart2P';
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: var(--margin-block);
  padding-right: 13px;
  background: #c2bba5;
background: linear-gradient(180deg,rgba(194, 187, 165, 1) 60%, rgba(171, 165, 147, 1) 100%);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {

    &:hover {
      color: var(--color-light);
      border-color: var(--color-light);
      background-color: var(--color-accent);
      transition:  border-color var(--transition-duration), color var(--transition-duration), background-color  var(--transition-duration);

    }

    &:focus-visible {
      outline: none;
      background-color: rgba(126, 0, 21, 0.384);
      transition: background-color var(--transition-duration);
    }
  }
}

.logo {
  font-size: 30px;

   @include mobile {
        font-size: 24px;
    }
}