@font-face {
    font-family: "Michroma";
    src: url(../fonts/Michroma-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Alegreya";
    src: url(../fonts/Alegreya-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: "AmaticSC";
//     src: url(../fonts/AmaticSC-Regular.woff2) format("woff2");
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }
@font-face {
    font-family: "AnonymousPro";
    src: url(../fonts/AnonymousPro-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: "BonaNovaSC";
//     src: url(../fonts/BonaNovaSC-Regular.woff2) format("woff2");
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }
@font-face {
    font-family: "TekturCondensed";
    src: url(../fonts/TekturCondensed-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TekturCondensed";
    src: url(../fonts/TekturCondensed-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TekturCondensed";
    src: url(../fonts/TekturCondensed-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: "PixelifySans";
//     src: url(../fonts/PixelifySans-Regular.woff2) format("woff2");
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }
@font-face {
    font-family: "PressStart2P";
    src: url(../fonts/PressStart2P-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: "ProstoOne";
//     src: url(../fonts/ProstoOne-Regular.woff2) format("woff2");
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }