body {
    @include fluid-text(24, 20);

    // font-family: 'Michroma'; //eng
    font-family: 'Alegreya'; //text
    // font-family: 'AnonymousPro'; //code

    // font-family: 'TekturCondensed'; //title?
    // font-family: 'PressStart2P'; //logo




    font-weight: 400;
    line-height: 1.28;
    color: var(--color-dark);
    background-color: var(--color-light);
}


a,
button,
input,
textarea,
svg * {
    transition-duration: all var(--transition-duration);
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        background-color: var(--color-hover);
        transition: background-color var(--transition-duration);
    }

    &:active {
        background-color: var(--color-active);
        transition: background-color var(--transition-duration);
    }

    &:focus-visible {
      outline: none;
      color: var(--color-hover);
      transition: color var(--transition-duration);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 24px !important;
    font-family: 'TekturCondensed';

    @include mobile { 
    margin-block: 10px !important;
}
}

h1 {
    // margin-bottom: 25px;
    @include fluid-text(52, 46);
    color: var(--color-accent);
    text-decoration: underline var(--color-accent);
    // font-weight: 600;
}

h2 {
    // margin-bottom: 15px;
    color: var(--color-accent);
    @include fluid-text(42, 38);
    // font-weight: 600;

}

h3 {
    // margin-bottom: 5px;
    @include fluid-text(34, 30);
    // font-weight: 500;
}

h4 {
    @include fluid-text(28, 26);
}

p {
@include mobile {
    margin-block: 10px;

}
}

.content {
    margin-top: 205px;
    margin-bottom:  var(--margin-block);
}

